<% provide :page_title, "Edit Question" %>
<% currently_at %>
<div class="container">
  <h1 class="mb-4">Редактирование вопроса</h1>
  <%= render 'shared/errors', object: @question %>

  <%= form_with model: @question do |f| %>
      <div class="mb-3 row">
        <div class="col-sm-10">
          <%= f.text_field :title,class: 'form-control', placeholder: "Заголовок" %>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-10">
          <%= f.text_area :body, class: 'form-control', placeholder: "Вопрос" %>
        </div>
      </div>
      <%= f.submit "Задать вопрос", class: 'btn btn-primary'%>
  <% end %>
</div>